.dropdown-icon-container {
  pointer-events: none;
  position: absolute;
  inset-y: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.dropdown-icon {
  height: 1rem !important;
  width: 1rem !important;
  max-height: 1rem !important;
  max-width: 1rem !important;
}
